body{
    background-color: #09144F;
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
  }
#preloader{
background: #09144F url(./favicon.PNG) no-repeat center center;
height: 100vh;
width: 100%;
position: fixed;
z-index: 100;
}

.fakeimg {
    height: 200px;
    background: #aaa;
  }
  
  h2,p,h2,h3,h5,td{
    color: white;
  }

  .bimg{
    width: 200px;
    height: 220px;
  }
  
  .serbtn{
   margin-left: 40px;
   margin-bottom: 10px;
 }

.logo{
    height: 150px;
     width: 300px;
}

hr.solid {
    border-top: 3px solid #f8f8f5ef;
    
  }

 /* Side Nav */

 
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }






  
/* RightSide List  */

.rightsidenav{
    color: white;
    background-color: #09144F;
}



 .fa {
  padding: 20px;
  color: white;
  font-size: 30px;
  text-align: left;
  text-decoration: none;
  
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(175, 20, 20); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7a1f04; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }